<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div>
		<a href="#fu" >fufufufu</a>
	</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<a name="fu">
		<tr><td>bb</td></tr>
	</a>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	
	<div>23424</div>
	<div>23424</div><div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<div>23424</div>
	<!-- <div id="fu">fufu</div> -->
	<a name="fu">
		<tr><td>aa</td></tr>
	</a>
</body>
</html>